@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cormorant+Garamond:wght@400;500;600;700&display=swap');

.cursive{
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-family: 'Cormorant Garamond', serif;
}
.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.home-name {
  font-size: 150px;
}